@import "src/styles/variables.scss";

.root {
    display: flex;
    align-items: center;

    .dropdownBtn {
        background-color: transparent;
        border-color: transparent;
        color: $color-text-secondary;
        fill: $color-text-secondary;
        cursor: pointer;
        padding: 0.25rem;

        &:hover {
            color: $color-text;
            fill: $color-text;
        }

        &::after {
            display: none;
        }
    }

    .icon {
        color: $color-text-secondary;
        fill: $color-text-secondary;
    }

    .form {
        flex: 1;
        position: relative;

        .input {
            width: 100%;
            background-color: transparent;
            border: none;
            padding: 0.5rem 1rem 0.5rem 0;
            font-size: 2rem;
            outline: none;
    
            &::placeholder {
                color: $color-text-secondary;
                font-weight: 200;
                font-style: italic;
            }
        }

        .closeBtn {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            color: $color-text-secondary;
            fill: $color-text-secondary;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            display: none;

            &.active {
                display: inline-block;
                opacity: 1;
                cursor: pointer;
            }

            &:hover {
                color: $color-text;
                fill: $color-text;
            }
        }
    }
}