@import "src/styles/variables.scss";

.root {
    display: flex;

    .form {
        flex: 1;

        .input {
            width: 100%;
            background-color: transparent;
            border: none;
            padding: 0.5rem 1rem;
            font-size: 2rem;
            outline: none;
    
            &::placeholder {
                color: $color-text-secondary;
                font-weight: 200;
                font-style: italic;
            }
        }
    }
}